@import "../css/bootstrap.css";
@media (min-width: 1200px) {
  
}
@media (min-width: 980px) and {
  
}
@media (min-width: 767px) {
  
}
@media (min-width: 480px) {
  
}
#bgpattern {
  margin-bottom: 15px;
  background-image: url("../img/background.png");
  background-repeat: repeat;
}
@media (min-width: 1200px) {
  #bgpattern {
    height: 345px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  #bgpattern {
    height: 250px;
  }
}
@media (min-width: 767px) and (max-width: 980px) {
  #bgpattern {
    height: 235px;
  }
}
@media (max-width: 767px) {
  #bgpattern {
    height: 0px;
  }
}
header {
  color: #111111;
}
header #blogshot {
  padding: 20px;
  background-color: white;
  width: 90%;
  float: left;
}
@media (min-width: 1200px) {
  header #blogshot {
    margin-top: -345px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  header #blogshot {
    margin-top: -250px;
  }
}
@media (min-width: 767px) and (max-width: 980px) {
  header #blogshot {
    margin-top: -235px;
  }
}
@media (max-width: 767px) {
  header #blogshot {
    margin: auto;
    margin-top: 0px;
  }
}
header h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: bolder;
}
header h1 span {
  float: left;
}
@media (max-width: 767px) {
  header h1 {
    clear: both;
  }
}
header h1 small {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
@media (max-width: 1200px) {
  header h1 small {
    display: none;
  }
}
header h2 {
  font-size: 21.333333333333332px;
  line-height: 21.333333333333332px;
  font-weight: lighter;
  color: #777777;
  padding-left: 3px;
  padding-top: 10px;
}
header ul {
  margin-left: 0px;
}
header ul li {
  list-style: none;
  float: left;
}
header ul .icon {
  width: 38px;
  height: 38px;
}
#blog {
  padding-bottom: 25px;
}
#blog .nav-tabs {
  margin-top: 40px;
}
#blog .tab-content {
  width: auto;
}
#blog .tab-content .well {
  padding-bottom: 30px;
}
#blog .tab-content a {
  float: right;
  font-size: smaller;
}
.feedbox h2 small {
  float: right;
}
.feedbox h2 small a {
  color: inherit;
}
.feedbox .logo {
  padding-top: 15px;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .feedbox .logo {
    display: none;
  }
}
.feedbox dl {
  margin-top: 5px;
}
.feedbox img {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 767px) {
  #twitter,
  #yelp {
    float: right;
  }
}
footer {
  text-align: center;
  padding: 15px;
}
