this.templates.github = """
<!--

{
  "repo-url": ,
  "repo-name": ,
  "repo-desc": ,
  "commit-message": ,
  "commit-date": ,
  "commit-time": ,
}

-->


<h2>
  github
  <small><a href='http://www.github.com/users/tobywaite'>tobywaite</a></small>
</h2>
<div class="row">
  <div class='span1'>
    <img class='logo' src='img/octocat.png' alt='octocat!'>
  </div>
  <div class='span4'>
    <h3>
      Repo:
      <small><a href='{{repo-url}}'>{{repo-name}}</a></small>
    </h3>
    <p>{{repo-desc}}</p>
    <blockquote>
      {{commit-message}}
      <small>latest commit, {{commit-date}}@{{commit-time}}</small>
    </blockquote>
  </div>
</div>
"""
